img {
  width: 480px;
}
.row{
  margin-bottom: 12px;

}
.desc {
  font-style: italic;

}
.number {
  display: inline-block;
  width: 24px;
  font-size: 2em;
  color: red;
  border: solid 1px black;
  background: yellow;
  padding-left: 4px;
}
.guess {
  line-height: 16px;
  font-size: 1.5em;
  color: black;
  border: solid 1px red;
  width: 48px;
}
.guess2 {
  line-height: 16px;
  font-size: 1.5em;
  color: black;
  
  width: 48px;
}
.guess-button {
  font-size: 1.5em;
  border: solid 1px black;
  border-radius: 5px;
  background-color: lightgray;
  
}
